[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.0.14"
djangorestframework = "==3.11.0"
django-cors-headers = "==3.2.1"
weasyprint = "*"
dj-database-url = "~=0.5.0"
psycopg2-binary = "~=2.8.5"

[requires]
python_version = "3.6"

[scripts]
dev = "python manage.py runserver"
make = "python manage.py makemigrations"
migrate = "python manage.py migrate"
super = "python manage.py createsuperuser"
